@use "sass:color";
@import "~compass-mixins/lib/compass/css3";
@import "../../css/functions/colors";
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100&family=Roboto:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Serif+Display:wght@100&display=swap);




/* Navbar */
.adminNavbar {
  display: flex;
  align-items: center;
  width: 100vw;
  color: $clr-gray;
  padding-top: 1rem;

    h3{
      padding-right: 20%;
      font-family: 'Roboto';
      font-weight: lighter;
      font-size: 2rem;
      text-align: center;
    }
    
    a {
      letter-spacing: 0.01em;
      text-decoration: none;
      color: $clr-gray;
      font-family: "Koldby", serif;
      font-size: 1.5rem;
      padding: 0.1em 1.2em;
      transition: 0.5s;

        &:hover {
          color: $clr-d-green;
          background-color: $clr-l-green;
        }

        &:focus {
          color: $clr-d-green;
          background-color: $clr-l-green;
        }
    }
}

.navbar-icons{
    padding: 2px; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

/* Main */
.main{
  display: flex;
  text-align: center;
  &-content{
    width: 100%;
    }
}

/* Sidebar */
.sidebar {
  font-family: 'Roboto';
  background-color: $clr-d-green;
  width: 10vw;
  height: 90vh;
  text-align: center;
  padding: 10px;
  &-links a:hover{
    background-color: $clr-l-green;
    color: $clr-d-green;
    }
  &-links a:link{
    text-decoration: none;    
    display: flex;
    flex-direction: column;
    color: $clr-smokewhite;
    }
  &-links a{
    font-weight: 200;
    color: white;
    padding: 3%;
  }
}
 /* Footer */
.adminFooter{
  // grid-area: footer;
  background-color: $clr-gray;
}



