@use "sass:color";
@import "~compass-mixins/lib/compass/css3";
@import "../functions/colors";
@import "../functions/fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.gallery-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-header {
    width: 100%;
    height: 40rem;
    min-height: 20rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/events_gallery_gathering.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: red;
    overflow: hidden;
}

.gallery__title {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.gallery__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2em 0;
}

.gallery__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2em 0;
}

.gallery__subtitle {
    font-size: em;
    margin: 2em;
    color: #4f4f4f;
}

.gallery__text {
    color: #4f4f4f;
    max-width: 90%;
}

// @media (max-width: 700px){

//     .gallery-page {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;

//         padding: 5%;
//         max-width: 100rem;}

//     .gallery-header {
//             margin: 0;
//             max-width: 300px;
//             max-height: 300px;
//             opacity: 0.5;
//             border-radius: 8px;
//             position: static;
//         }

//         .pic-ctn{

//           display:none;
//         }
//        .about-img{
//             display: none;
//         }

//         .btn-gallery {
//             margin: 2rem;
//             display: flex;
//             justify-content: center;
//             position:static;
//         }
//  }
