@use "sass:color";
@import "~compass-mixins/lib/compass/css3";
@import "../functions/colors";
@import "../functions/fonts";

.home {
    display: flex;
    flex-direction: column;
}
.home-hero {
    width: 100%;
    height: 20rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/main_hero.jpeg");
    background-position: 60% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__title {
    // position: absolute;
    // top: 50%;
    // width: 100%;
    // text-align: center;
    @include headline4;
}
.home-events {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/main_wedding_reception.jpeg");
    background-position: 60% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .home__events_title {
        font-size: 3em;
        color: white;
    }

    p {
        @include regular-text-white;
        padding: 2%;
        text-align: center;
    }
}


.home-button {
    width: 150px;
    height: 30px;
    padding: 6px;
    margin-top: 1rem;
    background-color: $clr-d-green;
    text-align: center;
    border: none;
    @include regular-text-white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    &:hover {
        transform: scale(1.1);
    }
}
.home-about {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 5%;
    max-width: 100rem;
    img{
        margin: 1rem;
        opacity: 0.5;
        border-radius: 8px;
    }
}
.home_about_description {
   

    .lowlight {
        @include headline2;
    }
    p {
        @include subtext-roboto;
       margin: 2rem;
    }
    .highlight{
        color: $clr-d-green;
    }
 
}

.bottom-p{
    
    padding-bottom: 4rem;
    border-bottom: $clr-d-green solid 2px;
}
// Carousel

.pic-ctn {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    height: 500px;
    position: relative;
    justify-content: center;
    align-items: center;

    button {
        // position: absolute;
        bottom: 100px;
        width: 150px;
        height: 30px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
        transition: transform 100ms ease-in;
        margin-left: 2rem;
        &:hover {
            transform: scale(1.1);
        }

    }
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.home-events {
    p {
        font-size: 14px;
    }

    button {
        margin-top: 8em;
        width: 150px;
        height: 30px;
        background-color: #587563;
        color: white;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-top: 2em;
        box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
        transition: transform 100ms ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(110% - 1100px);
    opacity: 0;
    animation: display 10s infinite;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
}

img:nth-child(2) {
    animation-delay: 2s;
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}

.btn-gallery {
    margin: 2rem;
    display: flex;
    justify-content: center;
}
