@use '_colors';
@font-face {
    font-family: "Koldby";
    src: url('../fonts/Koldby-Light.otf')
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    src: url('Roboto-Light-webfont.eot?#iefix') format('woff');
    font-weight: normal;
    font-style: light;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    src: url('Roboto-Light-webfont.eot?#iefix') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    src: url('Roboto-Light-webfont.eot?#iefix') format('woff');
    font-weight: bold;
    font-style:  bold;
}

/* to use the headline1 for example, you have to import the fonts like so:
@use '_fonts';
then to use it in your stylesheet:
h1{
  @include headline1;
}*/

@mixin headline1 {
    font-family: "Koldby", serif;
    font-size: 2rem;
    color: $clr-gray;    
}

@mixin headline2 {
    font-family: "Koldby", serif;
    font-size: 1.5rem;
    color: $clr-gray;    
}

@mixin headline3 {
    font-family: "Koldby", serif;
    font-weight: 100;
    font-size: 2rem;
    color: $clr-smokewhite;    
}
@mixin headline4 {
    font-family: "Koldby", serif;
    font-weight: 100;
    font-size: 2.5rem;
    color: $clr-white;    
}

@mixin bolder-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: $clr-gray;    
}


@mixin regular-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: $clr-gray;    
}
@mixin regular-text-white {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: $clr-white;    
}

@mixin bolder-text-white {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: $clr-smokewhite;    
}

@mixin regular-roboto {
    font-family: 'roboto', 'sans-serif';
    font-weight: lighter;
    font-size: 1rem;
    color: $clr-smokewhite;  
    
}