@use "sass:color";
@use "sass:map";
@import "~compass-mixins/lib/compass/css3";
@import "../functions/colors";
@import "../functions/fonts";
@import "../functions/mediaqueries";


.navbar {
      display: flex;
      align-items: center;
      width: 100%;
      color: $clr-gray;
        
    @include mq1(medium) {
      &__links-left {
        width: 100%;
        ul {
          display: flex;
          justify-content: space-evenly;
          list-style-type: none;
        }
      }
  
      &__links-right {
        width: 100%;
        ul {
          text-decoration: none;
          display: flex;
          justify-content: space-evenly;
          list-style-type: none; 
        }
      }
  
      a {
        letter-spacing: 0.01em;
        text-decoration: none;
        color: $clr-gray;
        @include headline2;
        padding: 0.1em 1.2em;
        transition: 0.5s;
  
        &:hover {
          color: $clr-d-green;
          background-color: $clr-l-green;
        }
  
        &:focus {
          color: $clr-d-green;
          background-color: $clr-l-green;
        }
      } 
    }
    

    &__links-left {
      width: 100%;
      ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
      }
    }

    &__links-right {
      width: 100%;
      ul {
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none; 
      }
    }

    a {
      letter-spacing: 0.01em;
      text-decoration: none;
      color: $clr-gray;
      @include headline2;
      padding: 0.1em 1.2em;
      transition: 0.5s;

      &:hover {
        color: $clr-d-green;
        background-color: $clr-l-green;
      }

      &:focus {
        color: $clr-d-green;
        background-color: $clr-l-green;
      }
    } 
  }

  .burger {
    
   display: none;
    

      

      @include mq2(medium) {
        display: block;
        position: absolute;
        top: 1rem;
        z-index: 10;
        

          ul {
            background-color: $clr-white;
            padding: 2em 2em;
            line-height: 2em;
            border-bottom: 1px solid $clr-smokewhite;
            border-right: 1px solid $clr-smokewhite;
            // -webkit-box-shadow: 13px 25px 36px 5px rgba(0,0,0,0.59); 
            // box-shadow: 13px 25px 36px 5px rgba(0,0,0,0.59);
            margin-top: 0.5em;
            margin-left: -1em;
            list-style-type: none;
          }

          a {
            letter-spacing: 0.01em;
            text-decoration: none;
            color: $clr-gray;
            @include headline2;
            padding: 0.1em 1.2em;
            transition: 0.5s;
      
            &:hover {
              color: $clr-d-green;
              background-color: $clr-l-green;
            }
      
            &:focus {
              color: $clr-d-green;
              background-color: $clr-l-green;
            }
          } 
      }

  }